.navbar{
    background-color: gray;
    height: 80px;
    width: 100%;
    display:flex;
    justify-content:center;
    align-items: center;
    font-size:1.2rem;
    position: fixed;
    top: 0;
    z-index: 20;
}
.nav-container{
    display:flex;
    justify-content:center;
    align-items:center;
    width: 100%;
    height: 80px;
    max-width: 1500px;
}
.nav-logo{
    color: #fff;
    align-items:center;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    flex-grow: 1;
}